.cta-content-container {
  p {
    margin: 0 auto 1rem;
  }
}

ul.cta-container {
  margin: 2rem 0;
  text-align: center;

  li {
    margin-bottom: 1rem;
  }

  @media #{$mq-tablet-and-up} {
    display: flex;
    gap: 4rem;
    justify-content: center;
  }
}
