@font-face {
  font-family: OpenDyslexic;
  font-display: swap;
  src: url("../typography/OpenDyslexic-Regular.woff2") format("woff2"),
    url("../typography/OpenDyslexic-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
    font-family: OpenDyslexic;
}
