body {
  background: $color-neutral-100 url("/media/tile.svg") 0 0 no-repeat;
  font: 100%/1.7 Lato, sans-serif;
}

a:link,
a:visited {
  color: $color-primary;
  padding: ($base-spacing / 4) 0;
}

a:hover,
a:focus,
a:active,
a.active {
  text-decoration: none;
}

iframe {
  border: 0;
  max-width: 100%;
}

code {
  font-family: "Courier New", Courier, monospace;
}

blockquote {
  background-color: $color-neutral-200;
  border-radius: $default-border-radius;
  font-style: italic;
  margin: ($base-unit * 2) 0;
  padding: $base-unit * 2;
}

.page-container {
  margin: 0 auto;
  max-width: 1400px;
  padding: $base-spacing;
}
