$black: #000;
$color-neutral-900: #1b1b1b;
$color-neutral-800: #343434;
$color-neutral-700: #4e4e4e;
$color-neutral-600: #6d6d6d;
$color-neutral-500: #8a8a8a;
$color-neutral-400: #a4a4a4;
$color-neutral-300: #bababa;
$color-neutral-200: #d5d5d5;
$color-neutral-100: #e5e5e5;
$color-neutral-050: #f0efef;
$white: #fff;

$color-primary: #034382;
$color-primary-hover: #0077d0;
$color-primary-light: #d9e6f2;
$color-secondary: #00478c;
