$xxl-font-size: 4.209rem;
$xl-font-size: 3.157rem;
$large-font-size: 2.369rem;
$medium-font-size: 1.777rem;
$small-medium-font-size: 1.333rem;
$small-font-size: 0.9rem;

$xxl-font-size-mobile: 2.488rem;
$xl-font-size-mobile: 2.074rem;
$large-font-size-mobile: 1.728rem;
$medium-font-size-mobile: 1.44rem;

$content-font-size: 1.2rem;

$heading-line-height: 1.2;
