<!DOCTYPE html>
<html lang="en">
{{- partial "head.html" . -}}

<body {{ if .IsHome }}class="home" {{ end }} {{ if .IsSection }}class="content" {{ end }}>
    <div class="page-container">
        {{- partial "header.html" . -}}
        {{- block "main" . }}{{- end }}
    </div>
    {{- partial "buy-a-coffee.html" . -}}
    {{- partial "footer.html" . -}}

    <script src="https://getinsights.io/js/insights.js"></script>
    <script>
        insights.init('kU9ZVvdL_8QCdklI');
        insights.trackPages();
    </script>
</body>

</html>
