body {
  margin: 0;
  background-color: papayawhip;
  border-top: 10px solid pink;
  border-bottom: 10px solid palevioletred;
  min-height: 98vh;
}

h1 {
  color: saddlebrown;
  padding: 20px;
  font-size: 5rem;
}

h1::after {
  display: inline-block;
  content: "🎉";
}

p {
  display: none;
}
