<div class="cta-content-container">
    <ul class="cta-container">
        <li>
            <a href="/book/day001/" class="button button-primary">Read Online</a>
        </li>
        <li>
            <button type="button" class="button button-primary" disabled>Download
                ePUB</button>
        </li>
    </ul>

    <p>I invite everyone to read and <a
            href="https://github.com/schalkneethling/150days-of-html">provide feedback</a>
        as I write the 150 Days of HTML book content. The book will be made up of around
        150 days or chapters detailing all the elements of the HTML standard. I read the
        specification so you, mostly, don’t have to.</p>

    <p>The online version is rich and interactive with editable <a
            href="https://codepen.io">Codepen</a> and <a
            href="https://codesandbox.io">Codesandbox</a>
        embeds and will improve over time. I will soon also make the book available for
        download via an ePUB format that allows the same interactivity as the web version
        if that is more your style.</p>

    <p>The website will be the primary way to access all content, whether online or
        offline. I look forward to hearing back from everyone and making 150 Days of HTML
        the best reference for HTML out there. Thank you for taking the time to read the
        content and providing feedback.</p>
</div>
